<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://uicdn.toast.com/editor/3.2.2/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>

    <div th:relpace="~{layout/layout :: layout(~{::body})}">
        <div class="mt-50 text-center">
            <h1 class="text-3xl font-bold">환영합니다!</h1>
            <p class="mt-4 text-lg">gonpang에 오신 것을 환영합니다. 다양한 상품을 둘러보세요!</p>
        </div>
    </div>

</body>
</html>