<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<!--    <script src="https://uicdn.toast.com/editor/3.2.2/toastui-editor-all.min.js"></script>-->
    <link rel="stylesheet" href="/css/default.css">
</head>

<body>


<div th:replace="~{/component/header.html :: header}"></div>

<main class="w-full h-1000 ">
    메인
</main>

<footer th:replace="~{/component/footer.html :: footer}"></footer>


</body>
</html>